services:
  bot:
    build: .
    env_file: .env
    # restart: always
    volumes:
      - ./app:/app/app  # delete in prod
      - ./logs:/app/logs
    ports:
      - "8000:8000"
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000

  redis:
    image: redis:7
    restart: always

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 2s
      retries: 10

volumes:
  postgres_data: