services:
  bot:
    build: .
    env_file: .env
    restart: always
    ports:
      - "8000:8000"
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000

  redis:
    image: redis:7
    restart: always